

*{
    padding:0;
    margin:0;
    font-family: "League Spartan", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:aqua;
}

a{
   text-decoration: none; 
}

header{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: fixed;
    top:0;
    width: 100%;
    height: 10%;
    padding: 1%;
    background-color: black;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 80%;
    padding: 1%;
}

ul{ 
    display: flex;
    flex-grow: 0.5;
    justify-content: space-around;

    list-style: none;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a{
    font-size: 0.7em;
    font-family: "League Spartan", sans-serif;
    color: white;
    cursor: pointer;
}

.nav__circle{
    display: block;
    width: 5px;
    height: 5px;
    background-color: #FB5567;
    border-radius: 50%;
    margin-right: 8px;
}

.nav__icon{
    display: flex;
    justify-content: space-around;

    width: 8%;
    border-left: 1px solid white;
}

.nav__icon a{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px;
    border-radius: 50%;
}

.nav__icon a:hover{
    background-color:#FB5567;
    transition: 0.5s;
}

.nav__close,
.nav__open{
    display: none;

    -webkit-appearance: none;
    appearance: none;
}

@media screen and (max-width:800px){

    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position:fixed;
        top: 0;
       
        right: -850px;
        width: calc(100% - 1%);
        height: calc(100vh - 1%);
        transition: right 0.8s;
        background-color:crimson;
     }

     ul {
        flex-direction: column;
     }

     li{
        justify-content: normal;
    }

    li a {
        font-size: 1em;
     }

    .nav__icon {
        border-left: none;
    }

     .nav__position--right{
        right: 0;
       }

    .nav__close{
        position: absolute;
        top: 34px;
        left: 40px;
    }

     .nav__open,
     .nav__close{
        display: block;
     }
}